#Registerlogin{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://img.freepik.com/free-photo/top-view-business-office-desk-background-applying-job-form-pen-pencil-eyeglasses-tree-mobile-phone-wooden-table-background-with-copy-space_1921-22.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}